# Ignorando os arquivos de projeto do Aptana (Eclipse)
.project
.pydevproject
.settings/**

# Pasta Uploads
uploads/

# Pasta databases com os arquivos temporarios
databases/$.table
databases/$.sqlite
databases/$.log

# Pasta sessions
sessions/

# Arquivos temporarios
*.bak
*.swp
