<!-- Folhas de estilo padrao do sistema -->
{{response.files.append(URL('static','css/base.css'))}}
{{response.files.append(URL('static','css/tabelas.css'))}}
{{response.files.append(URL('static','css/crud.css'))}}

<!-- Plugin Superfish -->
{{response.files.append(URL('static','js/superfish.js'))}}
{{response.files.append(URL('static','css/superfish.css'))}}

<!-- Plugin Fancybox -->
{{response.files.append(URL('static','fancybox/jquery.fancybox-1.3.1.js'))}}
{{response.files.append(URL('static','fancybox/jquery.fancybox-1.3.1.css'))}}

{{response.files.append(URL('static','fancybox/jquery.mousewheel-3.0.2.pack.js'))}}

<!-- Plugin Data Tables -->
{{response.files.append(URL('static','datatable/jquery.dataTables.min.js'))}}
{{response.files.append(URL('static','datatable/jquery.dataTables.css'))}}
