{{ extend 'layout.html' }}

<script type="text/javascript">
  jQuery(document).ready(function(){
    //Fancybox
    jQuery(".usuario").fancybox({
      'width': '45%',
      'height': '65%',
      'autoScale': false,
      'transictionIn': 'none',
      'transictionOut': 'none',
      'type': 'iframe'
    });
    
    //DataTable
    jQuery("#table_usuarios").dataTable();
  });
</script>   

<table class="display" id="table_usuarios">
    <thead>
        <tr>
            <th>Opções</th>
            <th>Nome do Usuário</th>
            <th>Login de Acesso</th>
            <th>E-mail</th>
            <th>Perfil</th>
        </tr>
    </thead>
    <tbody>
        {{ for usuario in usuarios: }}
            <tr>
                <td><a href="{{=URL('usuarios','editar',args=[usuario.id])}}">Editar</a></td>
                <td>
                    {{ if session.auth.user.grupo == 4: }}
                        {{=usuario.first_name}}
                    {{ else: }}
                    <a class="usuario" href="{{=URL('usuarios','detalhes',args=[usuario.id])}}">
                        {{=usuario.first_name}}
                    </a>
                    {{ pass }}
                </td>
                <td>{{=usuario.username}}</td>
                <td>{{=usuario.email}}</td>
                <td>{{=usuario.grupo.role}}</td>
            </tr>
        {{ pass }}
    </tbody>
</table>
