{{extend 'layout.html'}}
{{
from datetime import date, datetime

# Caso o prazo estoure, então desabilita a inscrição de palestrantes
hoje = date.today()
data_limite = date(2011, 3, 13)
}}

<script type="text/javascript">
  jQuery(document).ready(function(){
    //Fancybox
    jQuery(".atividade").fancybox({
      'width': '65%',
      'height': '65%',
      'autoScale': false,
      'transictionIn': 'none',
      'transictionOut': 'none',
      'type': 'iframe'
    });
    
    //DataTable
    jQuery("#table_atividades").dataTable();
  });
</script>  

{{if hoje <= data_limite:}}
    {{if ativ:}}
        <center>    
            <h2>Suas Atividades Cadastradas</h2>
        </center>
<table class="display" id="table_atividades">
            <thead>
                <tr>
                    <th>Opções</th>
                    <th>Atividade</th>
                    <th>Tipo</th>
                    <th>Nível</th>
                    <th>Duração</th>
                    <th>Apresentação</th>
                    <th>Status</th>
                </tr>
            </thead>
            {{ for atividade in ativ: }}
                <tr>
                    <td>
                      <div class="options">
                        <ul>
                          <li>
                            <a href="{{=URL('atividades','cancelar',args=[atividade.id])}}">
                              <img src="{{=URL('static','images/cancel_entries.png')}}" alt="Cancelar" title="Cancelar Atividade"/>
                            </a>
                          </li>
                          <li>
                            <a href="{{=URL('atividades','editar',args=[atividade.id])}}">
                              <img src="{{=URL('static','images/edit_entries.png')}}" alt="Editar" title="Editar Atividade"/>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>{{=atividade.titulo}}</td>
                    <td>{{=atividade.tipo.tipo}}</td>
                    <td>{{=atividade.nivel[0]}}</td>
                    <td>{{=atividade.duracao.duracao}} hora(s)</td>
                    {{ if atividade.arquivo: }}
                        <td>
                            <a href="{{=URL('default','download',args=[atividade.arquivo])}}">Material da Apresentação</a>
                        </td>
                    {{ else: }}
                        <td>Nenhuma apresentação enviada</td>
                    {{pass}}
                    <td>{{=atividade.status}}</td>
                </tr>
            {{ pass }}
        </table>
        <center><a href="{{=URL('atividades','nova')}}"><h4>Nova Atividade</h4></a></center>
    {{else:}}
        {{if session.auth.user.id != id_user:}}
            <center><h2>{{=T('usuario_ativ_invalido')}}</h2></center>
        {{else:}}
            <center>
                <h2>Você não tem atividades cadastradas!</h2>
                <a href="{{=URL('atividades','nova')}}"><h3>Criar uma Nova Atividade</h3></a>
            </center>
        {{pass}}
    {{pass}}
{{ else: }}
    <center>
        <h3>Que pena! Terminou o prazo para a inscrição das atividades do FLISOL.</h3>
    </center>
{{ pass }}
