#formularios {
    width: auto;
    margin-left: 30%;
}

.forms {}

.forms div {padding-bottom: 5px;}

.forms input[type="text"] {
    width: 35%;
    height: 22px;
    font-size: 120%;
}

.forms textarea {
    width: 55%;
    font-size: 120%;
}

.text {width: 65%;}

.forms select {width: 40%;}

.forms select[multiple="multiple"] {height: 80%;}

.forms input[type="submit"], input[type="button"], button {
    width: 10%;
    font-size: 120%;
    margin-left: 15%;
}

.forms .error {width: 350px;}

.campo {
    margin-left: 5px;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 15px;
}

.dados {
    margin-left: 5px;
    font-size: 90%;
}

.options ul {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    list-style: none;
}

.options ul li {display: inline;}

.options ul li a {
    padding: 2px 0 0 15px;
    float: left;
    text-decoration: none;
    
}
