{{ extend 'layout.html' }}

<script type="text/javascript">
  jQuery(document).ready(function(){
    //Fancybox
    jQuery(".atividade").fancybox({
      'width': '65%',
      'height': '65%',
      'autoScale': false,
      'transictionIn': 'none',
      'transictionOut': 'none',
      'type': 'iframe'
    });

    jQuery(".usuario").fancybox({
      'width': '45%',
      'height': '65%',
      'autoScale': false,
      'transictionIn': 'none',
      'transictionOut': 'none',
      'type': 'iframe'
    });

    //DataTable
    jQuery("#table_atividades").dataTable();
  });
</script>
<center>
    <h2>Lista de Atividades Aprovadas</h2>
</center>
<table class="display" id="table_atividades">
    <thead>
        <tr>
            <th>Nome da Atividade</th>
            <th>Descrição</th>
            <th>Palestrante</th>
            <th>Nível</th>
            <th>Tipo da Atividade</th>
            <th>Inscritos</th>
            <th>Inscrição</th>
        </tr>
    </thead>
    <tbody>
        {{ for atividade in aprovadas: }}
            <tr>
                <td>{{=atividade.titulo}}</td>
                <td>{{=atividade.descricao}}</td>
                <td>
                    <a class="usuario" href="{{=URL('usuarios','detalhes',args=[atividade.id_usuario])}}">
                        {{=atividade.id_usuario.first_name}}
                    </a>
                </td>
                <td>{{=atividade.nivel[0]}}</td>
                <td>{{=atividade.tipo.tipo}}</td>
                <td>{{=vagas[atividade.id]}}</td>
                <td>
                    {{ for inscrito in inscricao: }}
                        {{ if inscrito.atividade == atividade.id: }}
                            <a href="{{=URL('participante', 'inscricao', args=['desinscrever', atividade.id])}}">Desinscrever</a>
                            {{ break }}
                        {{ else: }}
                            <a href="{{=URL('participante', 'inscricao', args=['inscrever', atividade.id])}}">Inscrever</a>
                        {{ pass }}
                    {{ pass }}
                </td>
            </tr>
        {{ pass }}
    </tbody>
</table>