{{ extend 'layout.html' }}

<script type="text/javascript">
  jQuery(document).ready(function(){
    //Fancybox
    jQuery(".atividade").fancybox({
      'width': '65%',
      'height': '65%',
      'autoScale': false,
      'transictionIn': 'none',
      'transictionOut': 'none',
      'type': 'iframe'
    });

    jQuery(".usuario").fancybox({
      'width': '45%',
      'height': '65%',
      'autoScale': false,
      'transictionIn': 'none',
      'transictionOut': 'none',
      'type': 'iframe'
    });

    //DataTable
    jQuery("#table_atividades").dataTable();
  });
</script>
<center>
    <h2>Lista de Atividades que me Inscrevi</h2>
</center>
<table class="display" id="table_atividades">
    <thead>
        <tr>
            <th>Nome da Atividade</th>
            <th>Descrição</th>
            <th>Palestrante</th>
            <th>Nível</th>
            <th>Tipo da Atividade</th>
            <th>Inscrição</th>
        </tr>
    </thead>
    <tbody>
        {{ for inscrito in inscritos: }}
            <tr>
                <td>{{=inscrito.atividade.titulo}}</td>
                <td>{{=inscrito.atividade.descricao}}</td>
                <td>
                    <a class="usuario" href="{{=URL('usuarios','detalhes',args=[inscrito.atividade.id_usuario])}}">
                        {{=inscrito.atividade.id_usuario.first_name}}
                    </a>
                </td>
                <td>{{=inscrito.atividade.nivel[0]}}</td>
                <td>{{=inscrito.atividade.tipo.tipo}}</td>
                <td><a href="{{=URL(request.application, 'participante', 'inscricao', args=['desinscrever', inscrito.atividade.id])}}">Desinscrever</a></td>
            </tr>
        {{ pass }}
    </tbody>
</table>


