{{ extend 'layout.html' }}

<script type="text/javascript">
  jQuery(document).ready(function(){
    //DataTable
    jQuery("#table_atividades").dataTable();
  });
</script>   

{{ if salas: }}
    <center>
        <h2>Lista de Salas Cadastradas</h2>
    </center>
    <table class="display" id="table_atividades">
        <thead>
            <tr>
                <th>Nome da Sala</th>
                <th>Quantidade de Lugares</th>
            </tr>
        </thead>
        <tbody>
            {{ for sala in salas: }}
                <tr>
                    <td><a href="{{=URL('locais','editar',args=[sala.id])}}">{{=sala.nome}}</a></td>
                    <td>{{=sala.lugares}}</td>
                </tr>
            {{ pass }}
        </tbody>
    </table>
{{ else: }}
    <center>
        <h2>Nenhuma sala cadastrada.</h2>
    </center>
{{ pass }}
<br />
<center><h3><a href="{{=URL('locais','nova')}}">Nova Sala</a></h3></center>
