<html>
    <head>
        <meta charset="utf-8" />
        <title>Lista de Participantes - {{=request.application}}</title>
    </head>
    <body>
        <center>
            <h2>{{=response.title}}</h2>
            <h2>Checkin / Lista de participantes - Flisol DF {{=request.now.year}}</h2>
        </center>
        <table border="0.1" cellpadding="2">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th width="200px">Email</th>
                    <th width="100px">Hora Check-in</th>
                    <th width="70px">Liberar Certificado</th>
                </tr>
            </thead>
            <tbody>
                {{ for x in xrange(1,45): }}
                <tr>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                </tr>
                {{ pass }}
            </tbody>
        </table>
    </body>
</html>